* {
  font-family: 'Nunito', sans-serif;
}

ion-content {
  margin-top: 0;
}

.header {
  ion-icon {
    font-size: 2.2vh;
  }
  ion-icon:nth-child(3){
    font-size: 1.8vh;
  }
  ion-title {
    font-size: 2vh;
  }
}

ion-grid {
  height: 80.8%;
  ion-label {
    font-size: 1.6rem;
  }
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 0;
}

ion-col {
  height: 100%;
  padding: 0;
}

ion-row {
  height: 100%;
}

ion-row:nth-child(1) {
  height: 10%;
}

div {
  height: 100%;
}

ion-button {
  padding: 0.1vh;
  margin: 0;
  --border-radius: 0;
  --box-shadow:none;
  height: 100%;
}

.row-1 {
  height: 100%;
  div {
    height: 10vh;
  }
  ion-label {
    font-size: 0.8rem;
  }
}

.row-2{
  ion-label {
    font-size: 2vh ;
  }
}

.row-3{
  ion-label {
    font-size: 2vh ;
  }
}

ion-icon {
  font-size: 2.4vh;
}

ion-card {
  ion-label {
    font-size: 3rem;
  }
}

ion-item {
  height: 11.6%;
}

.num {
  ion-label {
    font-size: 2.8vh;
    font-weight: bold;
  }
}

ion-toolbar {
  ion-title {
    font-weight: bold;
  }
  ion-icon {
    padding: 1rem;
  }
}

.mbold {
  font-weight: 800;
}
